body{background-color: #B8D1D5;margin:0;text-align:center}
.Nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363232;
    position: fixed;
    top: 0;
    width: 100%;
	}

	.li {
	margin-top: 10px;
	padding-left: 10px;
    float: left;
	}

 	.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	.li a:hover {
    background-color: #F97979;
	}